$black: #000000;
$white: #ffffff;
$davysGrey: #4d4d4d;
$vermillion: #cd4631;
$pewterBlue: #81adc8;
$champagne: #f7ede8;
$aliceBlue: #edf3f7;

$z-point: 100;

@mixin advantage-icon {
    content: '';
    display: block;
    position: absolute;
    max-width: 100%;
  }

  @mixin btn {
    font-size: rem(18px);
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: rem(16px) rem(36px);
    border-radius: rem(100px);
    background-color: $red;
  }
  @mixin description-icon {
    content: '';
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    height: rem(41px);
    width: rem(41px);
    max-width: 100%;
  }